/*

VARIABLES

*/

:root {
    --colorBG: rgba(28, 28, 28, 1);
    --colorFG: rgba(255, 255, 255, 1);
    --colorInactive: rgba(40, 42, 41, 1);
    --colorBlue: rgba(10, 132, 255, 1);
    --colorGreen: rgba(50, 215, 75, 1);
    --colorRed: rgba(255, 69, 58, 1);

    --borderRadius: 0.5rem;
    --fontStack: "Avenir Next", "Avenir", "Open Sans", "Segoe UI", sans-serif;
    --fontStackMono: monospace;
    --fontWeight: 400;
    --fontWeightBold: 700;
    --lineHeight: 1.375;
    --maxWidth: 40rem;
    --textLongest: 21.5rem;
}

/*

BASE ELEMENTS

*/

html {
    background-color: var(--colorBG);
    color: var(--colorFG);
    font-family: var(--fontStack);
    font-size: 100%;
    line-height: var(--lineHeight);
    margin: 0;
    overscroll-behavior: none;
    text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    margin: 0 auto;
    padding: 0;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    margin: auto 0 1rem;
}

footer p {
    font-size: 0.75rem;
    margin: 0;
    text-align: center;
}

footer p a:is(:any-link, :hover, :active, :focus) {
    font-weight: normal;
}

/*

TYPOGRAPHY

*/

h1 {
    font-size: 2rem;
    font-weight: var(--fontWeightBold);
    margin: calc(var(--lineHeight) * 2rem) auto;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: var(--fontWeightBold);
    margin: calc(var(--lineHeight) * 0.75rem) auto;
    text-align: center;
}

h3 {
    text-align: center;
}

h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: var(--fontWeightBold);
    margin: calc(var(--lineHeight) * 0.5rem) auto;
}

p {
    font-size: 1rem;
    font-weight: var(--fontWeight);
    margin: 0 auto calc(var(--lineHeight) * 1rem);
    text-align: left;
}

p a:is(:any-link, :hover, :active, :focus) {
    color: var(--colorFG);
    font-weight: var(--fontWeightBold);
    text-decoration: none;
}

b,
strong {
    font-weight: var(--fontWeightBold);
}

blockquote,
pre {
    background-color: var(--colorInactive);
    border-radius: var(--borderRadius);
    margin: 0 auto calc(var(--lineHeight) * 1rem);
    max-width: var(--maxWidth);
    padding: calc(var(--lineHeight) * 1rem);
}

blockquote p:last-of-type,
pre p:last-of-type {
    margin-bottom: 0;
}

code {
    display: block;
    font-family: var(--fontStackMono);
    font-size: 0.75rem;
    line-height: calc(var(--lineHeight) / 0.75);
    margin: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: 90%;
}

em {
    font-style: italic;
}

li a:is(:any-link, :hover, :active, :focus) {
    color: var(--colorBlue);
    font-weight: var(--fontWeightBold);
    text-decoration: none;
}

li a:visited {
    color: var(--colorGreen);
}

ol {
    list-style: decimal inside;
    margin: 0 auto calc(var(--lineHeight) * 1rem);
    padding: 0;
}

ol ol,
ol ul {
    margin-bottom: 0;
}

sub {
    font-size: 0.75rem;
    position: relative;
    top: 0.25rem;
    vertical-align: baseline;
}

sup {
    font-size: 0.75rem;
    position: relative;
    top: -0.375rem;
    vertical-align: baseline;
}

table {
    border: 1px solid var(--colorFG);
    border-collapse: collapse;
    margin: 0 0 calc(var(--lineHeight) * 1rem);
}

table a:is(:any-link, :hover, :active, :focus) {
    color: var(--colorBlue);
    font-weight: var(--fontWeightBold);
    text-decoration: none;
}

table a:visited {
    color: var(--colorGreen);
}

table td,
table th {
    border: 1px solid var(--colorFG);
    padding: 0.25rem 0.5rem;
}

table tr {
    vertical-align: text-top;
}

ul {
    list-style: circle inside;
    margin: 0 auto calc(var(--lineHeight) * 1rem);
    padding: 0;
}

ul ol,
ul ul {
    margin-bottom: 0;
}

@media (min-width: 32rem) {
    h4,
    h5,
    h6,
    ol,
    p,
    ul {
        hyphens: auto;
        text-align: justify;
    }
}

/*

TITLE PAGE

*/

body.title-page {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

body.title-page main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

/*

CONTENT PAGE

*/

body.content-page {
    padding: 1rem;
}

body.content-page main {
    background-color: rgba(23, 23, 23, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    box-sizing: border-box;
    display: block;
    outline: thin solid grey;
    padding: 1rem 0;
    width: auto;
}

body.content-page main h1:first-of-type {
    margin-top: calc((var(--lineHeight) * 2rem) - 1rem);
}

body.content-page main h1,
body.content-page main h2,
body.content-page main h3,
body.content-page main h4,
body.content-page main h5,
body.content-page main h6,
body.content-page main ol,
body.content-page main p,
body.content-page main table,
body.content-page main ul {
    margin-left: 1rem;
    margin-right: 1rem;
}

body.content-page main figure {
    margin: 0 0 1rem;
}

body.content-page main figure figcaption {
    font-size: 75%;
    text-align: center;
}

body.content-page main img {
    margin: 0;
    width: 100%;
}

body.content-page footer {
    margin: 1rem 0 0;
}

@media (min-width: 40rem) and (min-height: 40rem) {
    body.content-page main {
        height: calc(100dvh - 6rem);
        margin: 1.5rem auto;
        max-width: 48rem;
        overflow: scroll;
        scrollbar-width: none;
        width: 90%;
    }
}
